[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dot2tex = "*"
jupyterlab = "*"
jupyterlab-vim = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pydot = "*"
seaborn = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.8"
